{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <!--{% if posts %}{{ posts|length }}{% else %}0{% endif %}-->
    <h1>Список новостей ({{ posts|length }})</h1>
    {% if posts %}
        {% for post in posts %}
            <hr>
            <h3>{{ post.header|censor }}</h3>
            <i>{{ post.time|date:'d.m.Y' }}</i>
            <p>{{ post.content|truncatewords:20|censor }}</p>
        {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}